:host {
  display: block;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin: 12px;
}

.page-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.dialog-content {
  padding: 24px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.full-width {
  width: 100%;
}
