<h1 class="page-title">Profesores</h1>
<p class="page-subtitle">
  Administración de profesores registrados en el sistema
</p>

<button
  mat-raised-button
  color="primary"
  (click)="crear()">
  + Nuevo profesor
</button>

<mat-table
  [dataSource]="dataSource" class="mat-elevation-z2" style="margin-top: 16px">

  <!-- Nombre -->
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Profesor </mat-header-cell>
    <mat-cell *matCellDef="let p">
      {{ p.nombre }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="materia">
  <th mat-header-cell *matHeaderCellDef hidden> Materia </th>
  <td mat-cell *matCellDef="let p" hidden>
    {{ p.materia }}
  </td>
</ng-container>


  <!-- Acciones -->
  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let p">
      <button
        mat-icon-button
        color="primary"
        (click)="editar(p)">
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="warn"
        (click)="eliminar(p)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
